.post_container {
    background-color: #DFDFDF;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    line-height: 20px;
    border: 1px solid greenyellow;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    display: inline-block;
}
.shadow {
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
}
.text {
    vertical-align: middle;
}

.header {
    background-color: royalblue;
    height: auto;
    min-width: 30px;
    width: auto;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}