<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        Ви уже увійшли <b>{{ user }}</b>. Але ви можете <a href="{% url 'logout' %}">Вийти</a><br>
    
    {% else %}
       Що бажаєте здійснити?
       <ul>
            <li><a href="{% url 'register' %}">Реєстрація</a></li>
            <li><a href="{% url 'login' %}">Вхід</a></li>
        </ul> 
    {% endif %}
</body>
</html>